node_modules
dist
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

BackUps/
Semana passada/
2/
*.zip

carouselData.json
metadata.json
antigravity_chrome_config.json
antigravity_chrome_sync.py
Titulos.xls
Thumbs.db
desktop.ini
